			<!-- LANDING -->
			<section class="wrap_landing">
				<%= video_tag(['numedia_demo_1.webm','numedia_demo_1.mp4'], autoplay: :autoplay, loop: :loop, controls: false) %>
				<div class="wrap_texto_landing">
					<div>WE LOVE</div>
					<div>
						<span class="color-link typewrite" data-period="3000" data-type='[ "BRANDING", "THE WEB", "PHOTOGRAPHY", "MULTIMEDIA" ,"E-COMMERCE", "SOCIAL MEDIA" ]'>
		                    <span class="text"></span>
		                </span>
					</div>				
				</div>
			</section>
			<!-- PROYECTOS -->
			<section class="wrap_proyectos">
				<div class="wrap_proyectos_derecho">
					<div class="contenido_proyectos">
						<div class="titulo_section">PROYECTOS</div>
						<div class="proyectos">
							<!-- GALERIA -->
							<div class="ocultar_divs">
					            <ul class="gridder">
					                <li class="gridder-list fondoAzul" data-griddercontent="#gridder-content-1">
					                    <img src="img/logo_jeanpierre.png" data-alt-src="img/logo_jeanpierre_h.png" class="img-responsive" />
					                </li><!--
					                --><li class="gridder-list fondoAzul" data-griddercontent="#gridder-content-2">
					                    <img src="img/logo_azulcarmin.png" data-alt-src="img/logo_azulcarmin_h.png" class="img-responsive" />
					                </li><!--
					                --><li class="gridder-list fondoAzul" data-griddercontent="#gridder-content-3">
					                    <img src="img/logo_barezzito.png" data-alt-src="img/logo_barezzito_h.png" class="img-responsive" />
					                </li><!--
					                --><li class="gridder-list fondoAzul" data-griddercontent="#gridder-content-4">
					                    <img src="img/logo_dharma.png" data-alt-src="img/logo_dharma_h.png" class="img-responsive" />
					                </li><!--
					                --><li class="gridder-list fondoAzul" data-griddercontent="#gridder-content-5">
					                    <img src="img/logo_argentina.png" data-alt-src="img/logo_argentina_h.png" class="img-responsive" />
					                </li><!--
					                --><li class="gridder-list fondoAzul" data-griddercontent="#gridder-content-6">
					                    <img src="img/logo_dragons.png" data-alt-src="img/logo_dragons_h.png" class="img-responsive" />
					                </li><!--
					                --><li class="gridder-list fondoAzul" data-griddercontent="#gridder-content-7">
					                    <img src="img/logo_hellato.png" data-alt-src="img/logo_hellato_h.png" class="img-responsive" />
					                </li><!--
					                --><li class="gridder-list fondoAzul" data-griddercontent="#gridder-content-8">
					                    <img src="img/logo_marsis.png" data-alt-src="img/logo_marsis_h.png" class="img-responsive" />
					                </li>
					            </ul>
							</div>
							<!-- CONTENIDO -->
							<div>
								

					            <div id="gridder-content-1" class="gridder-content">
					                <div class="row">
					                    <div class="col-sm-6 imagen_gridder">
					                        <img src="http://placehold.it/600x600" class="imagen_responsiva" />
					                    </div>
					                    <div class="col-sm-6 wrap_info_gridder">
					                        <h2 class="titulo_cliente">Jean Pierre</h2>
					                        <section class="tipo_de_proyecto">
					                        	<div>
					                        		FOTOGRAFÍA
					                        	</div>
					                        	<div>
					                        		E-COMMERCE
					                        	</div>
					                        </section>
					                        <article class="descripcion_proyecto">
					                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.
					                        </article>
					                        <div class="wrap_btn_ver">
					                        	VER +
					                        </div>
					                    </div>
					                </div>
					            </div>
					            <div id="gridder-content-2" class="gridder-content">
					                <div class="row">
					                    <div class="col-sm-6 imagen_gridder">
					                        <img src="http://placehold.it/600x600" class="imagen_responsiva" />
					                    </div>
					                    <div class="col-sm-6 wrap_info_gridder">
					                        <h2 class="titulo_cliente">Azul Carmin</h2>
					                        <section class="tipo_de_proyecto">
					                        	<div>
					                        		FOTOGRAFÍA
					                        	</div>
					                        	<div>
					                        		E-COMMERCE
					                        	</div>
					                        </section>
					                        <article class="descripcion_proyecto">
					                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.
					                        </article>
					                    </div>
					                </div>
					            </div>
					            <div id="gridder-content-3" class="gridder-content">
					                <div class="row">
					                    <div class="col-sm-6 imagen_gridder">
					                        <img src="http://placehold.it/600x600" class="imagen_responsiva" />
					                    </div>
					                    <div class="col-sm-6 wrap_info_gridder">
					                        <h2 class="titulo_cliente">Barezzito</h2>
					                        <section class="tipo_de_proyecto">
					                        	<div>
					                        		BRANDING
					                        	</div>
					                        	<div>
					                        		FOTOGRAFÍA
					                        	</div>
					                        	<div>
					                        		WEB
					                        	</div>
					                        	<div>
					                        		ANIMACION
					                        	</div>
					                        </section>
					                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.</p>
					                    </div>
					                </div>
					            </div>
					            <div id="gridder-content-4" class="gridder-content">
					                <div class="row">
					                    <div class="col-sm-6 imagen_gridder">
					                        <img src="http://placehold.it/600x600" class="imagen_responsiva" />
					                    </div>
					                    <div class="col-sm-6 wrap_info_gridder">
					                        <h2>Dharmalife</h2>
					                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.</p>
					                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.</p>
					                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.</p>
					                    </div>
					                </div>
					            </div>
					            <div id="gridder-content-5" class="gridder-content">
					                <div class="row">
					                    <div class="col-sm-6">
					                        <img src="http://placehold.it/600x600" class="imagen_responsiva" />
					                    </div>
					                    <div class="col-sm-6">
					                        <h2>Argentina Express</h2>
					                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.</p>
					                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.</p>
					                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.</p>
					                    </div>
					                </div>
					            </div>
					            <div id="gridder-content-6" class="gridder-content">
					                <div class="row">
					                    <div class="col-sm-6">
					                        <img src="http://placehold.it/600x600" class="imagen_responsiva" />
					                    </div>
					                    <div class="col-sm-6">
					                        <h2>Dragons Garden</h2>
					                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.</p>
					                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.</p>
					                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ex augue, hendrerit sed gravida ut, mattis vel tortor. Duis hendrerit sagittis bibendum. Fusce massa risus, hendrerit et est vitae, convallis accumsan ipsum. Integer vitae erat mattis, ornare tortor nec, luctus turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus fermentum consectetur. Nulla vestibulum, diam ut finibus dictum, justo felis blandit mi, sed rhoncus tortor augue vitae orci. Fusce semper eu ante ut faucibus.</p>
					                    </div>
					                </div>
					            </div>
							</div>
						</div>				
					</div>
				</div>
			</section>
			<!-- INTER IMAGEN -->
			<section class="wrap_fondo_compu">
				<div>
					<div></div>
				</div>
			</section>
			<!-- CONTACTO -->
			<section class="wrap_footer">
				<div class="wrap_footer_chueco">
					<div>
						<div class="wrap_sociales">
							<a href="www.behance.net" target="_blanck">
								<div>
									<i class="fa fa-behance fa-lg"></i>
								</div>
							</a>
							<a href="www.vimedo.com" target="_blanck">
								<div>
									<i class="fa fa-vimeo fa-lg"></i>
								</div>
							</a>
							<a href="www.linkedin.com" target="_blanck">
								<div>
									<i class="fa fa-linkedin fa-lg"></i>
								</div>
							</a>
						</div>
						<div>
							<div>
								<div>
									hola@numedia.io 
								</div>
								<div>
									+52 1 477 7 87 45 93
								</div>
								<div>
									León, Guanajuato, México
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>	
		
		</div>
