$azulMarino: #3a3d49;
$azulClaro: #3dc0c8;
$blanco: #f7f4ef;

.descripcion_proyecto {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  text-align: justify;
}

.galeria_proyectos {
  width: auto;
  margin: 0 auto;
  max-width: 2300px;
  img {
    width: 100%;
    box-sizing: border-box;
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    //filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale") /* Firefox 10+, Firefox on Android
    //filter: gray /* IE6-9
    //-webkit-filter: grayscale(100%) /* Chrome 19+, Safari 6+, Safari 6+ iOS
    &:hover {
      cursor: pointer;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      transform: scale(1.2);
      //filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale")
      //-webkit-filter: grayscale(0%)
   
    }
  }
}

.img_vertical_proyecto {
  width: 150px;
}

.titulo_proyecto_index {
  font-size: 2.3rem;
  font-weight: 900;
  padding-top: 30px;
  width: 100%;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  background: $azulClaro;
  color: white;
  line-height: 120px;
}

.tipo_de_proyecto_index {
  font-weight: 400;
  padding: 10px;
  display: inline-block;
  width: 90%;
}

.separador_imagenes {
  margin: 8px;
  display: inline-block;
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid $azulMarino;
  padding: 10px;
  overflow: hidden;
  &:hover {
    border: 2px solid $azulClaro;
  }
}

.imagen_blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.ver_proyecto_proyectos {}

.wrap_proyecto_index {
  width: 100%;
  background: $blanco;
  text-align: center;
}